/**
*
* Link
*
**/

a {
  color: $colorSimianGreen;

  &:visited {
    color: transparentize($colorSimianGreen, 0.05);
  }
}

a:hover {
  text-decoration: none;
}

.cta--primary {
  @include style-cta($colorBlue, $icon-chevron-right);
}

.cta--secondary {
  @include style-cta($colorBlue);
}
