footer {
  margin: 1% 0% 0%;
  padding: 1% 0% 2%;
  border-top: 3px dashed #96B60B;

  .container {
    text-align: center;

    p {
      display: inline;
    }

    img {
      max-width: 20%;
    }
  }
}
